@model Pedidos.Models.P_Pedido
@{
    ViewData["Title"] = "Pedidos";
    var maxwidth = $"{ViewBag.PrintSize}px";
    var fontsize = $"{ViewBag.FontSize}px";
}

<style type="text/css">

    .ticket {
    color:black !important;
    }
    .ticket td, th, tr, table {
        border-collapse: collapse;
        margin-top: 2px;
    }

    .ticket .centrado {
        text-align: center;
        align-content: center;
        margin: 0px;
        padding: 0px;
    }

    .ticket div {
       margin:0px;
       padding:0px;
    }

    .ticket {
        width: 100%;
        max-width: @maxwidth;
        margin-top: 0px;
        padding-top: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: @fontsize;
    }

    .ticket img {
        max-width: inherit;
        width: inherit;
    }

    .ticket hr {
        border-top: 2px dashed black;
    }
</style>

<div hidden>
    <input type="hidden" id="NombreEstablecimiento" value="@ViewBag.NombreEstablecimiento" />
    <input type="hidden" id="TelefonoEstablecimiento" value="@ViewBag.TelefonoEstablecimiento" />
    <input type="hidden" id="DireccionEstablecimiento" value="@ViewBag.DireccionEstablecimiento" />
    <input type="hidden" id="CnpjEstablecimiento" value="@ViewBag.CnpjEstablecimiento" />
</div>

<div class="p-2" style="z-index:999;background-color:white">
    <div hidden>
        <div id="divComprobantePedido" class="ticket position-absolute" style="z-index:-1">

        </div>
    </div>

    <div class="row position-relative ">

        <div class="col-12 col-sm-6">

            @*CURRENT PEDIDO*@
            <div class="card mb-2">
                <div class="card-body  p-1">

                    @*INFO DEL PEDIDO*@
                    <div class="d-flex justify-content-between">

                        <div class="d-flex justify-content-between">

                            <div class="d-block" style="text-align:left">
                                <div style="font-size:11px"><span id="spanNombre"></span></div>
                                <div style="font-size:11px"><span id="spanEndereco"></span></div>
                                <div style="font-size:11px"><span id="spanMesa"></span></div>
                                <div style="font-size:11px"><span id="spanAplicativo"></span></div>
                            </div>
                        </div>

                        <div class="d-flex" style="text-align:right">
                            <div style="font-size:11px"><b>R$ <span id="spanTotal">0.00</span></b></div>
                        </div>
                    </div>

                    @*SEPARADOR*@
                    <div class="d-flex w-100 align-content-center">
                        <hr class="w-100" />
                        <div style="color: #616666;font-size: 10px;display: contents">PRODUTOS</div>
                        <hr class="w-100" />
                    </div>

                    @*PRODUCTO*@
                    <div>
                        <table id="CurrentPedidoProductos" class="w-100 unselectable">
                        </table>
                    </div>

                </div>

                <div class="card-footer text-muted p-2" style="color: black;">
                    <div class="d-flex justify-content-between">
                        <div> <a class="btn btn-sm btn-danger cursor-pointer" onclick="CancelarCurrentPedido()" style="color:white"><i class="fa fa-ban"></i></a></div>
                        @*<div class="m-1 btn btn-sm btn-outline-primary cursor-pointer d-flex align-items-center" onclick="showModalInfoDelivery()"><i class="fas fa-motorcycle mr-2" style="color:black"></i> DELIVERY</div>*@
                        <div class="d-flex">
                            <div class="ml-2">
                                <button id="btnSalvarPedido" class="btn btn-sm btn-outline-secondary cursor-pointer" onclick="GuardarCurrentPedido(false)" data-toggle="tooltip" data-placement="top" title="Não cadastrar cliente">Salvar sem cadastrar</button>
                                <button id="btnSalvarPedido" class="btn btn-sm btn-outline-primary cursor-pointer" onclick="GuardarCurrentPedido(true)" data-toggle="tooltip" data-placement="top" title="Cadastrar cliente">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*FORMULARIO*@
            <div class="form-group position-relative">
                <form autocomplete="off">
                    <div class="row m-1">

                        <div class="col-12 col-md-8  m-0 p-0 mb-2">
                            <input type="search" id="inputNome" list="ClienteList" placeholder="Cliente" asp-for="cliente" class="form-control form-control-sm w-100" />
                            <datalist id="ClienteList" class="w-100">
                                @if (ViewBag.Clientes != null)
                                {
                                    @foreach (var cliente in ViewBag.Clientes)
                                    {
                                        <option id="@(cliente.id)" value="@(cliente.nombre)"></option>
                                    }
                                }
                            </datalist>
                            <input id="idCliente" asp-for="idCliente" hidden class="form-control" />
                        </div>

                        <div class="col-12 col-md-4 mb-2 p-0">
                            <input id="inputTelefone" type="search" list="TelefonoList" class="form-control form-control-sm" placeholder="Telefone" />
                            <datalist id="TelefonoList" class="col-12 col-md-4">
                            </datalist>
                        </div>

                        <div class="col-12 col-lg-6 m-0 p-0 mb-2">
                            <input type="search" id="inputEndereco" list="EnderecoList" placeholder="Endereço" class="form-control form-control-sm w-100" />
                            <datalist id="EnderecoList" class="w-100">
                            </datalist>
                            <input id="idDireccion" asp-for="idDireccion" hidden class="form-control" />
                        </div>

                        <div class="col-12 col-lg-6 m-0 p-0 mb-2">
                            <input type="search" id="inputEndereco" list="EnderecoList" placeholder="Endereço" class="form-control form-control-sm w-100" />
                            <datalist id="EnderecoList" class="w-100">
                            </datalist>
                            <input id="idBarrio" asp-for="idDireccion" hidden class="form-control" />
                        </div>

                        <div class="col-12 col-md-8 m-0 p-0 mb-2">
                            <input type="search" id="inputAplicativo" list="AplicativoList" placeholder="Aplicativo" asp-for="aplicativo" class="form-control form-control-sm w-100" />
                            <datalist id="AplicativoList" class="w-100">
                                @if (ViewBag.Aplicativos != null)
                                {
                                    @foreach (var aplicativo in ViewBag.Aplicativos)
                                    {
                                        <option id="@(aplicativo.id)" value="@(aplicativo.nombre)"></option>
                                    }
                                }
                            </datalist>
                            <input id="idAplicativo" asp-for="idAplicativo" hidden class="form-control" />
                        </div>

                        <input id="idMesa" class="form-control form-control-sm col-12 col-md-4" placeholder="Mesa" />

                    </div>
                </form>

                <div id="divInfoPagamentoDelivery" class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button id="_deliveryEmCartaoCheck" type="button" class="btn btn-secondary" name="buttonDeliveryCheck">
                            Cartão
                            <i id="deliveryEmCartaoCheck" style=" @(Model.deliveryEmCartao.HasValue && Model.deliveryEmCartao.Value ? "display:inline-block" : "display:none") ;color:white;font-size: 12px;" class="fa fa-check"></i>
                        </button>
                        <button id="_deliveryPagoCheck" type="button" class="btn btn-secondary" name="buttonDeliveryCheck">
                            Pago
                            <i id="deliveryPagoCheck" class="fa fa-check" style=" @(Model.deliveryPago.HasValue && Model.deliveryPago.Value ? "display:inline-block" : "display:none") ;color: white;font-size: 12px;"></i>
                        </button>
                        <button id="_deliveryEmdinheiroCheck" type="button" class="btn btn-secondary" name="buttonDeliveryCheck">
                            Dineiro
                            <i id="deliveryEmdinheiroCheck" class="fa fa-check" style=" @(Model.deliveryEmdinheiro.HasValue && Model.deliveryEmdinheiro.Value ? "display:inline-block" : "display:none") ;color: white;font-size: 12px;"></i>
                        </button>
                    </div>

                    <div class="input-group" id="divDeliveryDinheiroTotal" style=" @(Model.deliveryEmdinheiro.HasValue && Model.deliveryEmdinheiro.Value ? "display:flex" : "display:none")">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="btnGroupAddon">R$</div>
                        </div>
                        <input type="text" id="inputDeliveryDinheiroTotal" style="width:100px" class="form-control" placeholder="Dinheiro">
                    </div>
                </div>

                <hr />

                <div class="row m-1">
                    <input id="inputProducto" class="form-control form-control-sm" placeholder="Producto" />
                </div>

                <div class="position-absolute w-100" style="z-index: 99;background-color: white">
                    <table id="tableProductos" class="table">
                    </table>
                </div>

                <!-- Modal -->
                <div style="z-index:99999" class="modal fade" id="ModalDetalleProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div style="z-index:99999" class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="font-size:14px;">

                            <div class="modal-header">
                                <div class="d-flex justify-content-between w-100">
                                    <div><samp id="spanNomeProducto"></samp></div>
                                    <div class="d-flex">
                                        <div class="unselectable cursor-pointer mr-1">R$ <samp id="spanValorProducto" onclick="showInputValorProducto()"></samp></div>
                                        <input id="inputValorProducto" onblur="inputValorProductoChanged()" style="width:70px;display:none" type="text" class="form-control form-control-sm" />
                                    </div>
                                </div>
                            </div>

                            <div class="modal-body">
                                <div>
                                    <span id="spanDescripcionProducto"></span>
                                </div>

                                <div id="divSeparadorAdicionales">
                                    <div id="expandAdicionales" class="d-flex align-content-center" data-toggle="collapse" data-target="#collapseAdicionales" aria-expanded="false" aria-controls="collapseAdicionales">
                                        <hr class="w-100" />
                                        <div class="m-1 btn btn-sm btn-outline-primary cursor-pointer">ADICIONALES</div>
                                        <hr class="w-100" />
                                    </div>
                                </div>

                                @*ADICIONALES*@
                                <div class="ml-2" style="color:darkcyan">

                                    <div class="collapse" id="collapseAdicionales">
                                        <table id="modalTableAdicionales" class="w-100">
                                            @*LISTA DE ADICIONALES DINAMICA*@
                                        </table>
                                    </div>

                                </div>


                                <div id="divSeparadorIngredientes">
                                    <div class="d-flex align-content-center">
                                        <hr class="w-100" />
                                        <div class="m-1" style="color:gray">INGREDIENTES</div>
                                        <hr class="w-100" />
                                    </div>
                                </div>

                                @*INGREDIENTES*@
                                <div class="ml-2" style="color:brown">

                                    <table id="modalTableIngredientes" class="w-100">
                                        @*LISTA DE INGREDIENTES DINAMICA*@
                                    </table>

                                </div>

                                <div class="mt-2">
                                    <div id="modalObservacionContent" class="form-group">
                                    </div>
                                </div>

                                <div class="mt-2">
                                    <div id="modalTamanhos" class="form-group">
                                        <div id="btnTamanho1" class="btn btn-sm m-1" onclick="checkTamanho(1)">
                                            <span id="nomeTamanho1" class="mr-2"></span>R$ <span id="valorTamanho1" class="mr-2"></span> <i id="checkedTamanho1" class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                        <div id="btnTamanho2" class="btn btn-sm m-1" onclick="checkTamanho(2)">
                                            <span id="nomeTamanho2" class="mr-2"></span>R$ <span id="valorTamanho2" class="mr-2"></span><i id="checkedTamanho2" class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                        <div id="btnTamanho3" class="btn btn-sm m-1" onclick="checkTamanho(3)">
                                            <span id="nomeTamanho3" class="mr-2"></span> R$<span id="valorTamanho3" class="mr-2"></span><i id="checkedTamanho3" class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                        <div id="btnTamanho4" class="btn btn-sm m-1" onclick="checkTamanho(4)">
                                            <span id="nomeTamanho4" class="mr-2"></span> R$<span id="valorTamanho4" class="mr-2"></span><i id="checkedTamanho4" class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                        <div id="btnTamanho5" class="btn btn-sm m-1" onclick="checkTamanho(5)">
                                            <span id="nomeTamanho5" class="mr-2"></span> R$<span id="valorTamanho5" class="mr-2"></span><i id="checkedTamanho5" class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer d-flex justify-content-between">
                                <div>
                                    <button class="btn btn-sm cursor-pointer" id="MINUS_Producto" onclick="productoMinus(this)" disabled="disabled"><i style="font-size:20px" class="fa fa-minus-circle"></i></button>
                                    <button class="btn btn-sm cursor-pointer" id="ADD_Producto" onclick="productoPlus(this)"><i style="font-size:20px" class="fa fa-plus-circle"></i></button>
                                </div>
                                <div>
                                    <button id="btnModalAdicionar" class="btn btn-sm btn-outline-success cursor-pointer" onclick="AddProducto()"><span id="modalCantidadProducto">(1)</span> Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        @*LISTA PEDIDOS*@
        <div class="col-12 col-sm-6">

            <div class="card p-0 border-warning mb-1">
                <div class="card-body p-1">
                    <button type="button" class="btn btn-success btn-sm mr-2" onclick="CargarGruposMensajes()" data-toggle="modal" data-target="#chatModal">
                        <i class="fas fa-sms"></i>
                        <span id="spanCountSMS" class="badge bg-primary" style="font-size:15px">0</span>
                    </button>

                    <button type="button" class="btn btn-warning btn-sm mr-2" onclick="CargarProductosPendientes()" data-toggle="modal" data-target="#chatPedidoCardapioModal">
                        <i class="far fa-bell"></i>
                        <span id="spanProductosPendientesCount" class="badge bg-info text-white" style="font-size:15px">0</span>
                    </button>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-header bg-primary p-1" style="color: white;">
                    <div class="d-flex justify-content-between mt-1">
                        <div class="d-flex">
                            <input id="searchCliente" type="search" class="form-control form-control-sm" placeholder="🔎 Cliente ou Aplt." />
                            <input id="searchMesa" type="tel" class="form-control form-control-sm  ml-3" placeholder="🔎 Mesa" style="width:80px" />
                        </div>
                        <div>

                            <button type="button" class="btn btn-outline-light btn-sm" onclick="CargarPedidosFinalizados()" data-toggle="modal" data-target="#ModalPdidosFinalizados">
                                <i class="fas fa-check-double"></i> @*<span id="spanCountPedidosFinalizados" class="badge badge-primary">0</span>*@
                            </button>
                        </div>
                    </div>

                </div>
                <div class="card-body p-1">

                    @*LISTA PEDIDO*@

                    <table id="ListaPedidosPendientes" style="width:100%">
                    </table>

                </div>

            </div>

        </div>

    </div>

</div>


@*MODAL PEDIDOS FINALIZADOS*@
<div style="z-index:99999" class="modal fade" id="ModalPdidosFinalizados" tabindex="-1" role="dialog" aria-labelledby="exampleModalPdidosFinalizados" aria-hidden="true">
    <div style="z-index:99999" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="font-size:13px;">

            <div class="modal-header">
                <div class="d-flex justify-content-center w-100">
                    <h4> PEDIDOS FINALIZADOS</h4>
                </div>
            </div>
            <div class="modal-body  modal-lg">

                <div id="divLoadinFinalizados">

                    <div class="d-flex justify-content-center align-items-center">
                        <div class="spinner-border text-primary m-2" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        Carregando
                    </div>
                </div>

                <div id="divPedidosFinalizados">
                    <div class="d-block mb-2">
                        <div>Valor Total: R$ <b id="dinalizadosValorTotal"></b></div>
                        <div>Total Desconto  : R$ <b id="dinalizadosTotalDescuento"></b></div>
                        <div>Total Taxa Entrega : R$ <b id="dinalizadosTotalTasa"></b></div>
                        <div>(Valor - Desconto + Taxa): R$ <b id="dinalizadosTotalDiferencia"></b></div>
                    </div>

                    <table id="ListaPedidosFinalizados" style="width:100%">
                        <tr>
                            <td>
                                <div class="d-flex justify-content-center align-items-center">
                                    Não ha pedidos finalizados
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <div>
                    <button class="btn btn-sm btn-danger cursor-pointer" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Chat-->
<div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby="chatModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chatModalTitle">Mensagens </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <div class="row">
                    <div class="col-5 p-0">
                        <div class="card">
                            <div class="card-header">
                                Clientes
                            </div>
                            <div class="card-body p-0">
                                <table id="tableChatCardapioGruposClientes" style="height:435px;max-height:435px;display:block;overflow-y:auto">
                                    <tbody class="d-block p-1">

                                        @*<tr style="display:grid">
                                                <td>
                                                    <div class="card hover cursor-pointer">
                                                        <div class="card-body bg-white w-100 p-1">
                                                            <div class="d-flex">
                                                                <div>
                                                                    <img src="~/img/client.png" style="width:40px" />
                                                                </div>
                                                                <div class="d-block ml-2">
                                                                    <div><strong>Royber</strong></div>
                                                                    <div><small>Mesa 1</small></div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>*@

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 p-0">
                        <div class="card">
                            <div class="card-header">
                                Mesa 1
                            </div>
                            <div class="card-body p-0">
                                <table id="tableChatCardapioMensajesCliente" style="height:350px;max-height:350px;display:block;overflow-y:auto">
                                </table>
                                <div class="modal-footer d-block p-1">
                                    <div class="d-flex">
                                        <div class="w-100 mr-2">
                                            <textarea id="inputEstablecimientoMessage" placeholder="Digite seu mensagem" style="font-size:14px" class="form-control w-100" rows="3"></textarea>
                                        </div>
                                        <div style="width: 30px">
                                            <button type="button" id="btnEstablecimientoClearMessage" class="btn btn-sm btn-outline-danger mb-2"><i class="fa fa-trash"></i></button>
                                            <button type="button" id="btnEstablecimientoSendMessage" class="btn btn-sm btn-outline-success"><i class="fas fa-paper-plane"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Pedidos Cardapio-->
<div class="modal fade" id="chatPedidoCardapioModal" tabindex="-1" role="dialog" aria-labelledby="chatPedidoCardapioModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chatPedidoCardapioModalTitle">Pedidos </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <table class="p-2" id="tableChatCardapioPedidosPendientes" style="height:435px;max-height:435px;display:block;overflow-y:auto">
                    <tbody class="d-block">

                        @*<tr style="display:grid">
                                <td>
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="d-flex">
                                                <img src="~/img/client.png" style="width:25px;height:25px" class="mr-2" />
                                                <div><strong>Royber | </strong></div>
                                                <div class="ml-1"><small>Mesa 1</small></div>
                                            </div>
                                        </div>
                                        <div class="card-body bg-white w-100">
                                            <div class="d-flex">
                                                <div>
                                                    <img src="~/img/cliente_sms.png" style="width:40px" />
                                                </div>
                                                <div class="d-block ml-2">
                                                    <div><strong>Royber</strong></div>
                                                    <div><small>Mesa 1</small></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                            </tr>*@

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script src="~/lib/jquery/jquery.mask.js" asp-append-version="true"></script>
<script src="~/js/views/Pedidos/index.js" asp-append-version="true"></script>
<script src="~/js/views/Pedidos/MostrarPedidosPendientes.js" asp-append-version="true"></script>
<script src="~/js/views/Pedidos/MostrarPedidosFinalizados.js" asp-append-version="true"></script>
<script src="~/js/views/Pedidos/formaPagamento.js" asp-append-version="true"></script>
<script src="~/js/views/Pedidos/editarCurrent.js" asp-append-version="true"></script>
<script src="~/js/views/Pedidos/keyup.js" asp-append-version="true"></script>
<script src="~/js/views/Pedidos/chatPedidos.js"></script>