@model IEnumerable<Pedidos.Models.P_Pedido>

@{
    ViewData["Title"] = "Pedidos";
}

<p>
    <a asp-action="Create">Novo Pedido</a>
</p>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idMesa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idAplicativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>                  
            <th>
                @Html.DisplayNameFor(model => model.activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idMesa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idAplicativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>          
            <td>
                @Html.DisplayFor(modelItem => item.idCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
