@model Pedidos.Models.P_Pedido
@{
    ViewData["Title"] = "Pedidos";
    var maxwidth = $"{ViewBag.PrintSize}px";
    var fontsize = $"{ViewBag.FontSize}px";
}

<style type="text/css">

    .ticket td, th, tr, table {
        border-collapse: collapse;
        margin-top: 2px;
    }

    .ticket .centrado {
        text-align: center;
        align-content: center;
    }

    .ticket {
        width: 100%;
        max-width: @maxwidth;
        margin-top: 0px;
        padding-top: 0px;
        font-family: Calibri;
        font-size: @fontsize;
    }

    img {
        max-width: inherit;
        width: inherit;
    }

    .ticket hr {
        border-top: 2px dashed black;
    }
</style>

<div class="p-2">
    <div class="row position-relative " style="z-index:1">

        <div id="divComprobantePedido" class="ticket position-absolute" style="z-index:-1">

        </div>

        <div class="col-12 col-sm-6">

            @*CURRENT PEDIDO*@
            <div class="card mb-2 ">

                <div class="card-header text-left p-1" style="background-color: #1A9898;color: white;">
                    PEDIDO - <span id="spanCodigo"></span>
                </div>

                <div class="card-body  p-1">

                    @*INFO DEL PEDIDO*@
                    <div class="d-flex justify-content-between">

                        <div class="d-flex justify-content-between">

                            <div class="d-block" style="text-align:left">
                                <div style="font-size:11px"><span id="spanNombre"></span></div>
                                <div style="font-size:11px"><span id="spanEndereco"></span></div>
                                <div style="font-size:11px"><span id="spanMesa"></span></div>
                                <div style="font-size:11px"><span id="spanAplicativo"></span></div>
                            </div>
                        </div>

                        <div class="d-flex" style="text-align:right">
                            <div style="font-size:11px"><b>R$ <span id="spanTotal">0.00</span></b></div>
                        </div>
                    </div>

                    @*SEPARADOR*@
                    <div class="d-flex w-100 align-content-center">
                        <hr class="w-100" />
                        <div style="color: #616666;font-size: 10px;display: contents">PRODUTOS</div>
                        <hr class="w-100" />
                    </div>

                    @*PRODUCTO*@
                    <div>
                        <table id="CurrentPedidoProductos" class="w-100 unselectable">
                        </table>
                    </div>

                </div>

                <div class="card-footer text-muted p-2" style="color: black;">
                    <div class="d-flex justify-content-between">
                        <div> <a class="btn btn-sm btn-danger cursor-pointer" onclick="CancelarCurrentPedido()" style="color:white"><i class="fa fa-ban"></i></a></div>
                        @*<div class="m-1 btn btn-sm btn-outline-primary cursor-pointer d-flex align-items-center" onclick="showModalInfoDelivery()"><i class="fas fa-motorcycle mr-2" style="color:black"></i> DELIVERY</div>*@
                        <div class="d-flex">
                            <div class="ml-2">
                                <a id="btnSalvarPedido" class="btn btn-sm btn-primary cursor-pointer" onclick="GuardarCurrentPedido()" style="color:white">salvar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*FORMULARIO*@
            <div class="form-group position-relative">
                <form autocomplete="off">
                    <div class="row m-1">


                        <div class="col-12 col-md-8  m-0 p-0 mb-2">
                            <input type="search" id="inputNome" list="ClienteList" placeholder="Cliente" asp-for="cliente" class="form-control form-control-sm w-100" />
                            <datalist id="ClienteList" class="w-100">
                                @if (ViewBag.Clientes != null)
                                {
                                    @foreach (var cliente in ViewBag.Clientes)
                                    {
                                        <option id="@(cliente.id)" value="@(cliente.nombre)"></option>
                                    }
                                }
                            </datalist>
                            <input id="idCliente" asp-for="idCliente" hidden class="form-control" />
                        </div>

                        <input id="inputTelefone" autocomplete="off" class="form-control form-control-sm col-12 col-md-4" placeholder="Telefone" />


                        <div class="col-12 m-0 p-0 mb-2">
                            <input type="search" id="inputEndereco" list="EnderecoList" placeholder="Endereço" class="form-control form-control-sm w-100" />
                            <datalist id="EnderecoList" class="w-100">
                            </datalist>
                            <input id="idDireccion" asp-for="idDireccion" hidden class="form-control" />
                        </div>

                        <div class="col-12 col-md-8 m-0 p-0 mb-2">
                            <input type="search" id="inputAplicativo" list="AplicativoList" placeholder="Aplicativo" asp-for="aplicativo" class="form-control form-control-sm w-100" />
                            <datalist id="AplicativoList" class="w-100">
                                @if (ViewBag.Aplicativos != null)
                                {
                                    @foreach (var aplicativo in ViewBag.Aplicativos)
                                    {
                                        <option id="@(aplicativo.id)" value="@(aplicativo.nombre)"></option>
                                    }
                                }
                            </datalist>
                            <input id="idAplicativo" asp-for="idAplicativo" hidden class="form-control" />
                        </div>

                        <input id="idMesa" class="form-control form-control-sm col-12 col-md-4" placeholder="Mesa" />

                    </div>
                </form>

                <div id="divInfoPagamentoDelivery" class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button id="_deliveryEmCartaoCheck" type="button" class="btn btn-secondary" name="buttonDeliveryCheck">
                            Cartão
                            <i id="deliveryEmCartaoCheck" style=" @(Model.deliveryEmCartao.HasValue && Model.deliveryEmCartao.Value ? "display:inline-block" : "display:none") ;color:white;font-size: 12px;" class="fa fa-check"></i>
                        </button>
                        <button id="_deliveryPagoCheck" type="button" class="btn btn-secondary" name="buttonDeliveryCheck">
                            Pago
                            <i id="deliveryPagoCheck" class="fa fa-check" style=" @(Model.deliveryPago.HasValue && Model.deliveryPago.Value ? "display:inline-block" : "display:none") ;color: white;font-size: 12px;"></i>
                        </button>
                        <button id="_deliveryEmdinheiroCheck" type="button" class="btn btn-secondary" name="buttonDeliveryCheck">
                            Dineiro
                            <i id="deliveryEmdinheiroCheck" class="fa fa-check" style=" @(Model.deliveryEmdinheiro.HasValue && Model.deliveryEmdinheiro.Value ? "display:inline-block" : "display:none") ;color: white;font-size: 12px;"></i>
                        </button>
                    </div>

                    <div class="input-group" id="divDeliveryDinheiroTotal" style=" @(Model.deliveryEmdinheiro.HasValue && Model.deliveryEmdinheiro.Value ? "display:flex" : "display:none")">
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="btnGroupAddon">R$</div>
                        </div>
                        <input type="text" id="inputDeliveryDinheiroTotal" style="width:100px" class="form-control" placeholder="Dinheiro">
                    </div>
                </div>

                <hr />

                <div class="row m-1">
                    <input id="inputProducto" class="form-control form-control-sm" placeholder="Producto" />
                </div>

                <div class="position-absolute w-100" style="z-index: 99;background-color: white">
                    <table id="tableProductos" class="table">
                    </table>
                </div>


                <!-- Modal -->
                <div style="z-index:99999" class="modal fade" id="ModalDetalleProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div style="z-index:99999" class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content" style="font-size:13px;">

                            <div class="modal-header">
                                <div class="d-flex justify-content-between w-100">
                                    <div><samp id="spanNomeProducto"></samp></div>
                                    <div>R$ <samp id="spanValorProducto"></samp></div>
                                </div>
                            </div>

                            <div class="modal-body">
                                <div>
                                    <span id="spanDescripcionProducto"></span>
                                </div>

                                <div id="expandAdicionales" class="d-flex align-content-center" data-toggle="collapse" data-target="#collapseAdicionales" aria-expanded="false" aria-controls="collapseAdicionales">
                                    <hr class="w-100" />
                                    <div class="m-1 btn btn-sm btn-outline-primary cursor-pointer">ADICIONALES</div>
                                    <hr class="w-100" />
                                </div>

                                @*ADICIONALES*@
                                <div class="ml-2" style="color:darkcyan">

                                    <div class="collapse" id="collapseAdicionales">
                                        <table id="modalTableAdicionales" class="w-100">
                                            @*LISTA DE ADICIONALES DINAMICA*@
                                        </table>
                                    </div>

                                </div>

                                <div class="d-flex align-content-center">
                                    <hr class="w-100" />
                                    <div class="m-1" style="color:gray">INGREDIENTES</div>
                                    <hr class="w-100" />
                                </div>

                                @*INGREDIENTES*@
                                <div class="ml-2" style="color:brown">

                                    <table id="modalTableIngredientes" class="w-100">
                                        @*LISTA DE INGREDIENTES DINAMICA*@
                                    </table>

                                </div>

                                <div class="mt-2">
                                    <div id="modalObservacionContent" class="form-group">
                                    </div>
                                </div>

                                <div class="mt-2">
                                    <div id="modalTamanhos" class="form-group">
                                        <div id="btnTamanho1" class="btn btn-sm mr-2" onclick="checkTamanho(1)">
                                            <span id="nomeTamanho1" class="mr-2"></span>R$ <span id="valorTamanho1" class="mr-2"></span> <i id="checkedTamanho1" class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                        <div id="btnTamanho2" class="btn btn-sm mr-2" onclick="checkTamanho(2)">
                                            <span id="nomeTamanho2" class="mr-2"></span>R$ <span id="valorTamanho2" class="mr-2"></span><i id="checkedTamanho2" class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                        <div id="btnTamanho3" class="btn btn-sm mr-2" onclick="checkTamanho(3)">
                                            <span id="nomeTamanho3" class="mr-2"></span> R$<span id="valorTamanho3" class="mr-2"></span><i id="checkedTamanho3" class="fa fa-check" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="modal-footer d-flex justify-content-between">
                                <div>
                                    <button class="btn btn-sm cursor-pointer" id="MINUS_Producto" onclick="productoMinus(this)" disabled="disabled"><i class="fa fa-minus-circle"></i></button>
                                    <button class="btn btn-sm cursor-pointer" id="ADD_Producto" onclick="productoPlus(this)"><i class="fa fa-plus-circle"></i></button>
                                </div>
                                <div>
                                    <button id="btnModalAdicionar" class="btn btn-sm btn-outline-success cursor-pointer" onclick="AddProducto()"><span id="modalCantidadProducto">(1)</span> Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        @*LISTA PEDIDOS*@
        <div class="col-12 col-sm-6">
            <div class="card text-center">
                <div class="card-header bg-primary p-1" style="color: white;">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                            <input id="searchCliente" type="search" class="form-control form-control-sm bg-primary text-white" placeholder="&#9906; Cliente ou Aplt." />
                            <input id="searchMesa" type="tel" class="form-control form-control-sm bg-primary text-white ml-3" placeholder="&#9906; Mesa" style="width:80px" />
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-light btn-sm" onclick="CargarPedidosFinalizados()" data-toggle="modal" data-target="#ModalPdidosFinalizados">
                                <i class="fas fa-check-double"></i> @*<span id="spanCountPedidosFinalizados" class="badge badge-primary">0</span>*@
                            </button>
                        </div>
                    </div>

                </div>
                <div class="card-body p-1">

                    @*LISTA PEDIDO*@

                    <table id="ListaPedidosPendientes" style="width:100%">
                    </table>

                </div>

            </div>

        </div>

    </div>
</div>

@*MODAL PEDIDOS FINALIZADOS*@
<div class="modal fade" id="ModalPdidosFinalizados" tabindex="-1" role="dialog" aria-labelledby="exampleModalPdidosFinalizados" aria-hidden="true">
    <div style="z-index:99999" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="font-size:13px;">

            <div class="modal-header">
                <div class="d-flex justify-content-center w-100">
                    <h4> PEDIDOS FINALIZADOS</h4>
                </div>
            </div>
            <div class="modal-body  modal-lg">

                <div id="divLoadinFinalizados">

                    <div class="d-flex justify-content-center align-items-center">
                        <div class="spinner-border text-primary m-2" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                        Carregando
                    </div>
                </div>

                <div id="divPedidosFinalizados">
                    <div class="d-block mb-2">
                        <div>Valor Total: R$ <b id="dinalizadosValorTotal"></b></div>
                        <div>Total Desconto  : R$ <b id="dinalizadosTotalDescuento"></b></div>
                        <div>Total Taxa Entrega : R$ <b id="dinalizadosTotalTasa"></b></div>
                        <div>(Valor - Desconto + Taxa): R$ <b id="dinalizadosTotalDiferencia"></b></div>
                    </div>

                    <table id="ListaPedidosFinalizados" style="width:100%">
                        <tr>
                            <td>
                                <div class="d-flex justify-content-center align-items-center">
                                    Não ha pedidos finalizados
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <div>
                    <button class="btn btn-sm btn-danger cursor-pointer" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@*MODAL MARCAR PREPARADO*@
<!--<div class="modal fade" id="ModalPreparado" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreparado" aria-hidden="true">
    <div style="z-index:99999" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="font-size:13px;">

            <div class="modal-header">
                <div class="d-flex justify-content-center w-100">
                    <h4> MARCAR COMO PREPARADO</h4>
                </div>
            </div>

            <div class="modal-body">

                <div id="expandAdicionales" class="d-flex align-content-center" data-toggle="collapse" data-target="#collapseAdicionales" aria-expanded="false" aria-controls="collapseAdicionales">
                    <hr class="w-100" />
                    <div class="m-1 btn btn-sm btn-outline-primary cursor-pointer d-flex align-items-center"><i class="fas fa-motorcycle mr-2" style="color:black"></i> DELIVERY</div>
                    <hr class="w-100" />
                </div>

                <div id="infoDelivery">
                    <form id="formInfoDelivery">
                        <div class="form-group mt-2">

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">
                                        <strong>Total Pagar</strong> | R$
                                    </span>
                                </div>
                                <input id="inputTotalPagarPreparado" type="text" disabled class="form-control form-control-sm">
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">R$</span>
                                </div>
                                <input id="inputTasaEntregaPreparado" type="text" class="form-control form-control-sm" placeholder="Taxa de entrega ">
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">R$</span>
                                </div>
                                <input id="inputDescuentoPreparado" type="text" class="form-control form-control-sm" placeholder="Desconto">
                            </div>

                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="">
                                        <input class="mr-2" type="radio" id="SelectedDinheiroPreparado" name="radioFormaPagamentoPreparado" aria-label="Checkbox for following text input">
                                        Dinheiro | R$
                                    </span>
                                </div>
                                <input id="inputTotalDinheiroPreparado" type="text" disabled class="form-control form-control-sm" placeholder="Total dinheiro">
                                <input id="inputTrocoPreparado" type="text" disabled class="form-control form-control-sm" placeholder="Troco">
                            </div>

                            <div class="form-check mb-3 ml-2">
                                <input class="form-check-input" type="radio" id="SelectedCartaoPreparado" name="radioFormaPagamentoPreparado">
                                <label class="form-check-label">
                                    Cartão
                                </label>
                            </div>

                            <div class="form-check mb-3 ml-2">
                                <input class="form-check-input" type="radio" id="SelectedPagoPreparado" name="radioFormaPagamentoPreparado">
                                <label class="form-check-label">
                                    Pago
                                </label>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-between">
                <div>
                    <button class="btn btn-sm btn-danger cursor-pointer" data-dismiss="modal">Cancelar</button>
                </div>
                <div>
                    <button class="btn btn-sm btn-outline-success cursor-pointer" onclick="preparado()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script src="~/lib/jquery/jquery.mask.js" asp-append-version="true"></script>
<script src="~/js/views/Pedidos/index.js" asp-append-version="true"></script>
<script src="~/js/views/Pedidos/MostrarPedidosPendientes.js" asp-append-version="true"></script>
<script src="~/js/views/Pedidos/MostrarPedidosFinalizados.js" asp-append-version="true"></script>
<script src="~/js/views/Pedidos/formaPagamento.js" asp-append-version="true"></script>
<script src="~/js/views/Pedidos/editarCurrent.js" asp-append-version="true"></script>
<script src="~/js/views/Pedidos/keyup.js" asp-append-version="true"></script>
<script src="~/aspnet/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
<script src="~/js/views/Pedidos/cardapio.js" asp-append-version="true"></script>