@model Pedidos.Models.P_Pedido

@{
    ViewData["Title"] = "";
    Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        body {
            margin-top: 0px;
            padding-top: 0px;
            font-family: Arial;
            font-size: 12px;
        }

        td, th, tr, table {
            border-collapse: collapse;
            margin-top: 2px;
        }

        .centrado {
            text-align: center;
            align-content: center;
        }

        .ticket {
            width: 100%;
            max-width: 500px;
        }

        img {
            max-width: inherit;
            width: inherit;
        }
    </style>
</head>
<body>
    <div class="ticket">

        <div style="text-align:end;margin:5px">
            <div><b>código: @Model.codigo</b></div>
        </div>

        @*ESTABLECIMIENTO*@

        <div>
            <div><b>@Model.cliente</b></div>
            <div>
                @Model.direccion
            </div>
            @if (@Model.idMesa.HasValue)
            {
                <div>
                    Mesa @Model.idMesa
                </div>
            }
        </div>

        <hr />

        @*<div class="centrado"><strong>@Model.codigo.ToUpper()</strong> </div>

            <p class="col" style="margin-top:2px">
                <div class="centrado" style="margin-bottom:5px">@Model.cliente.ToUpper()</div>
                <div class="centrado">@Model.direccion.ToUpper()</div>
            </p>

            <hr />*@

        @foreach (var producto in Model.productos)
        {
            <div class="col">
                <table style="width:100%">
                    <tr>
                        <td style="text-align:start;vertical-align:top;">(@producto.cantidad)</td>
                        <td style="text-align:start;width:100%">@producto.nombre.ToUpper()</td>
                        <td style="text-align: end;width: auto;vertical-align: top">
                            <div class="ml-3" style="white-space: nowrap;vertical-align: top;font-weight:700"> R$ @producto.ValorMasAdicionales.ToString("F2")</div>
                        </td>
                    </tr>
                    @if (producto.Adicionales != null && producto.Adicionales.Count > 0)
                    {
                        <tr>
                            <td colspan="3"><div style="display:flex;justify-content:center"><b>Adicionais</b></div></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table style="width:100%">

                                    @foreach (var adicional in producto.Adicionales)
                                    {
                                        <tr>
                                            <td style="text-align: start;vertical-align: top;white-space:nowrap;padding-left:10px"><strong>+</strong> @adicional.cantidad</td>
                                            <td style="text-align: start;width: 100%">
                                                @adicional.nombre.ToUpper()
                                            </td>
                                            <td style="text-align: end;width: auto;vertical-align: top">
                                                <div class="ml-3" style="white-space: nowrap;vertical-align: top"> R$ @adicional.Valor.ToString("F2")</div>
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </td>
                        </tr>
                    }
                    @if (producto.Ingredientes != null && producto.Ingredientes.Count > 0)
                    {
                        <tr>
                            <td colspan="3"><div style="display:flex;justify-content:center"><b>Preparar sem</b></div></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table style="width:100%">

                                    @foreach (var ingrediente in producto.Ingredientes)
                                    {
                                        <tr>
                                            <td style="text-align: start;vertical-align: top;white-space:nowrap;padding-left:10px"><strong>-</strong> @ingrediente.nombre</td>

                                        </tr>
                                    }

                                </table>
                            </td>
                        </tr>
                    }
                </table>

            </div>

            <hr />
        }

        @*ESTABLECIMIENTO*@

        <div class="centrado">
            <table style="width:100%">
                <tr>
                    <td style="width:50%;text-align:right"><b>Total a Pagar:</b></td>
                    <td style="width: 50%;text-align: left">R$ @((Model.valorProductos - Model.descuento + Model.tasaEntrega).ToString("F2"))</td>
                </tr>
                <tr>
                    <td style="width:50%;text-align:right">Descuento:</td>
                    <td style="width: 50%;text-align: left">R$ @Model.descuento.ToString("F2")</td>
                </tr>
                <tr>
                    <td style="width:50%;text-align:right">Tasa de Entrega:</td>
                    <td style="width: 50%;text-align: left">R$ @Model.tasaEntrega.ToString("F2")</td>
                </tr>
            </table>

        </div>

        <div class="centrado" style="margin-top:10px">
            @if (Model.deliveryEmCartao.HasValue && Model.deliveryEmCartao.Value)
            {
                <strong>PAGAMENTO EM CARTÂO</strong>
            }

            @if (Model.deliveryPago.HasValue && Model.deliveryPago.Value)
            {
                <strong>PAGO</strong>
            }

            @if (Model.deliveryEmdinheiro.HasValue && Model.deliveryEmdinheiro.Value)
            {
                if (Model.deliveryDinheiroTotal.HasValue)
                {
                    <strong>TROCO PARA R$ @Model.deliveryDinheiroTotal.Value.ToString("F2")</strong>
                }
                else
                {
                    <strong>PAGAMENTO EM DINHEIRO (S/T)</strong>
                }

            }

        </div>

        <hr />

        <div>
            <div><b></b>San-Duba<b></b></div>
            <div>
                Av. Fernando de Noronha, 715 - Bom Retiro, Ipatinga - MG, 35160-350
            </div>
        </div>

        <hr />


        <p class="centrado">
            <b>¡obrigado por sua preferência!</b>
        </p>

        <hr />
    </div>

</body>
</html>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/Views/Pedidos/print.js"></script>