@model Pedidos.ViewModels.VMDirecciones

@{
    ViewData["Title"] = "Index";
}

@*<div class="row col-12 d-flex justify-content-center align-items-center ">
        <div style="margin:5px;font-size: 25px;color: darkgray;text-transform: capitalize;"> Endereços</div>
    </div>*@

@*<div class="d-flex justify-content-between m-1">
        <div class="btn btn-sm btn-primary"><a style="color:white" asp-route-idCliente="@ViewBag.idCliente" asp-action="Create">Novo Endereço</a></div>
        <div>

            <form id="formSearch">

                <div class="input-group">
                    <input id="idCategoria" name="idCategoria" hidden value="@ViewBag.idCliente" />
                    <input id="nombre" name="nombre" value="@ViewBag.FlrNombre" class="form-control form-control-sm " type="text" placeholder="Buscar"
                           aria-label="Search">
                    <div class="input-group-append">
                        <span id="btnSearch" class="input-group-text">
                            <i style="color:dodgerblue" class="fa fa-search"></i>
                        </span>
                    </div>
                </div>


            </form>
        </div>
    </div>*@


<div class="card m-2">
    <div class="card-header">
        <div class="row d-flex justify-content-between p-2">
            <div>
                <a class="btn btn-sm btn-primary" asp-route-idCliente="@ViewBag.idCliente" asp-action="Create">Novo Endereço</a>
            </div>
            <div>

            </div>
        </div>

    </div>
    <div class="card-body">

        <table class="table">
            <tbody>
                @foreach (var item in Model.Direcciones)
                {
                    <tr>
                        <td>
                            <div class="row col-12 d-flex">

                                <div class="col-12 col-md-10" style="color: black;font-size: 18px;">
                                    @item.text
                                </div>

                                <div class="col-12 col-md-2">
                                    <div style="width:100px">
                                        <a asp-action="Edit" asp-route-id="@item.id"><i style="color:forestgreen" class="fa fa-edit"></i></a> |
                                        <a asp-action="Delete" asp-route-id="@item.id"><i style="color:orangered" class="fa fa-trash"></i></a>
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        function LimpiarNombre() {
            $('#nombre').val('');
            $('#formSearch').submit();
        }

        $(document).ready(function () {
            $('#btnSearch').on('click', function () {
                $('#formSearch').submit();
            });

        });
    </script>
}
