@model IEnumerable<Pedidos.Models.P_Categoria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutQR.cshtml";
}

@if (ViewBag.Erro != null)
{
    <div class="container m-1">
        <div class="alert alert-danger">@ViewBag.Erro</div>
    </div>
}

@*<div>
        @ViewBag.HttpContextConnectionId
    </div>

    <div>
        @ViewBag.RemoteIpAddress / @ViewBag.LocalIpAddress
    </div>*@

<div>
    <input type="hidden" id="inputIdCuenta" value="@ViewBag.IdCuenta" />
    <input type="hidden" id="inputMesa" value="@ViewBag.Mesa" />
</div>

<div class="card m-2">
    <div class="card-header">
        <div class="row d-flex justify-content-center p-0">
            <div class="d-flex justify-content-center">
                <b>Master Eat</b>
            </div>
            <div>
                @*<a class="btn btn-sm btn-primary" asp-action="Create">Novo</a>*@
            </div>
        </div>
    </div>
    <div class="card-body p-0">

        <div>

            <div class="card card-body bg-primary m-0">
                <div class="d-flex justify-content-between">

                    <div class="d-flex text-white align-items-center">
                        <i class="far fa-user-circle fa-2x mr-2"></i>
                        <span id="cardapioNombreCliente"></span>
                    </div>

                    <div>
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-cart-plus fa-2x"></i>
                            <span class="badge bg-info" style="vertical-align: top">3</span>
                        </button>
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-cart-plus fa-2x"></i>
                            <span class="badge bg-danger" style="vertical-align: top">R$ 25.00</span>
                        </button>

                    </div>

                </div>
            </div>

            <div id="cardapioLoadingCategorias">
                <div class="d-flex justify-content-center">
                    <div class="d-block">
                        <div class="d-flex justify-content-center">
                            <img src="~/img/cardapio.png" style="width:100px" />
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border text-success mr-2" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div><strong>Carregando Cardapio...</strong></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="cardapioAcordionCategorias" class="m-1">

            </div>

        </div>
    </div>
</div>


<!-- Modal -->
<div style="z-index:99999" class="modal fade" id="ModalDetalleProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div style="z-index:99999" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="font-size:13px;">

            <div class="modal-header">
                <div class="d-flex justify-content-between w-100">
                    <div><samp id="spanNomeProducto"></samp></div>
                    <div class="d-flex">
                        <div class="unselectable cursor-pointer mr-1">R$ <samp id="spanValorProducto" onclick="showInputValorProducto()"></samp></div>
                        <input id="inputValorProducto" onblur="inputValorProductoChanged()" style="width:70px;display:none" type="text" class="form-control form-control-sm" />
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div>
                    <span id="spanDescripcionProducto"></span>
                </div>

                <div id="expandAdicionales" class="d-flex align-content-center" data-toggle="collapse" data-target="#collapseAdicionales" aria-expanded="false" aria-controls="collapseAdicionales">
                    <hr class="w-100" />
                    <div class="m-1 btn btn-sm btn-outline-primary cursor-pointer">ADICIONALES</div>
                    <hr class="w-100" />
                </div>

                @*ADICIONALES*@
                <div class="ml-2" style="color:darkcyan">

                    <div class="collapse" id="collapseAdicionales">
                        <table id="modalTableAdicionales" class="w-100">
                            @*LISTA DE ADICIONALES DINAMICA*@
                        </table>
                    </div>

                </div>

                <div class="d-flex align-content-center">
                    <hr class="w-100" />
                    <div class="m-1" style="color:gray">INGREDIENTES</div>
                    <hr class="w-100" />
                </div>

                @*INGREDIENTES*@
                <div class="ml-2" style="color:brown">

                    <table id="modalTableIngredientes" class="w-100">
                        @*LISTA DE INGREDIENTES DINAMICA*@
                    </table>

                </div>

                <div class="mt-2">
                    <div id="modalObservacionContent" class="form-group">
                    </div>
                </div>

                <div class="mt-2">
                    <div id="modalTamanhos" class="form-group">
                        <div id="btnTamanho1" class="btn btn-sm mr-2" onclick="checkTamanho(1)">
                            <span id="nomeTamanho1" class="mr-2"></span>R$ <span id="valorTamanho1" class="mr-2"></span> <i id="checkedTamanho1" class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <div id="btnTamanho2" class="btn btn-sm mr-2" onclick="checkTamanho(2)">
                            <span id="nomeTamanho2" class="mr-2"></span>R$ <span id="valorTamanho2" class="mr-2"></span><i id="checkedTamanho2" class="fa fa-check" aria-hidden="true"></i>
                        </div>
                        <div id="btnTamanho3" class="btn btn-sm mr-2" onclick="checkTamanho(3)">
                            <span id="nomeTamanho3" class="mr-2"></span> R$<span id="valorTamanho3" class="mr-2"></span><i id="checkedTamanho3" class="fa fa-check" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer d-flex justify-content-between">
                <div>
                    <button class="btn btn-sm cursor-pointer" id="MINUS_Producto" onclick="productoMinus(this)" disabled="disabled"><i class="fa fa-minus-circle"></i></button>
                    <button class="btn btn-sm cursor-pointer" id="ADD_Producto" onclick="productoPlus(this)"><i class="fa fa-plus-circle"></i></button>
                </div>
                <div>
                    <button id="btnModalAdicionar" class="btn btn-sm btn-outline-success cursor-pointer" onclick="AddProducto()"><span id="modalCantidadProducto">(1)</span> Adicionar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/views/cardapio/index.js"></script>
