@model IEnumerable<Pedidos.Models.P_Categoria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutQR.cshtml";
}

@if (ViewBag.Erro != null)
{
    <div class="container m-1">
        <div class="alert alert-danger">@ViewBag.Erro</div>
    </div>
}

<div>
    @ViewBag.HttpContextConnectionId
</div>

<div>
    @ViewBag.RemoteIpAddress / @ViewBag.LocalIpAddress
</div>

<div>
    <input type="hidden" id="inputIdCuenta" value="@ViewBag.IdCuenta" />
    <input type="hidden" id="inputMesa" value="@ViewBag.Mesa" />
</div>

<div>
    @if (Model != null)
        @foreach (var item in Model)
        {
            <div class="accordion" id="accordionCategorias">

                <div class="card">
                    <div class="card-header cursor-pointer d-flex justify-content-center" id="heading_@($"{item.id}_{item.idCuenta}")" data-toggle="collapse" data-target="#collapse_@($"{item.id}_{item.idCuenta}")" aria-expanded="true" aria-controls="collapse_@($"{item.id}_{item.idCuenta}")">
                        <h5 class="mb-0">
                            @item.nombre
                        </h5>
                    </div>

                    <div id="collapse_@($"{item.id}_{item.idCuenta}")" class="collapse hide collapseCategoria" aria-labelledby="heading_@($"{item.id}_{item.idCuenta}")" data-parent="#accordionCategorias">
                        <div class="card-body">

                            @*MODAL DETALLES PRODUCTO*@

                            @*LISTA PRODUCTOS*@
                            <table class="table" id="tableProductosCategoria_@($"{item.id}_{item.idCuenta}")" width="100%" cellspacing="0" cellpadding="0">
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        }
</div>

@*<h1>Index</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.idCuenta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.activo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idCuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/views/cardapio/index.js"></script>