@model Pedidos.Models.P_Cardapio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>P_Cardapio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.minutosPreparacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.minutosPreparacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCuenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
