@model Pedidos.Models.P_Productos

@{
    ViewData["Title"] = "Delete";
}

<h5>Deletar</h5>
<div>
    <h6>Está seguro que deseja apagar este Produto?</h6>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idCategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idCategoria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.idCuenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.idCuenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.activo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>

