@model Pedidos.ViewModels.VMProductos

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Productos.First().nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos.First().idCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos.First().idCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Productos.First().activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Productos)
        {

            var imgDataURL = string.Empty;
            if (item.imagen != null)
            {
                string imreBase64Data = Convert.ToBase64String(item.imagen);
                imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
            }

            <tr>
                <td>
                    @if (item.imagen != null && item.imagen.Length > 0)
                    {
                        <div >
                            <img style="object-fit:contain" src="@imgDataURL" width="150" height="150" />
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idCuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activo)
                </td>
                <td>
                    <div>
                        <a class="btn btn-sm btn-success" style="color:white" asp-action="Edit" asp-route-pagina="@Model.PaginaActual" asp-route-id="@item.id">Editar</a> |
                        <a class="btn btn-sm btn-danger" style="color:white" asp-action="Delete" asp-route-pagina="@Model.PaginaActual" asp-route-id="@item.id">Deletar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
