@model Pedidos.ViewModels.VMProductos

@{
    ViewData["Title"] = "Index";
}

<!--div class="d-flex justify-content-between m-1">
   <div class="btn btn-sm btn-primary"><a style="color:white" asp-action="Create">Novo Produto</a></div>
   <div>-->
<!-- Search form -->
<!--<form id="formSearchCategoria">
            <div class="d-flex align-items-center">
                <input id="nombre" name="nombre" value="@ViewBag.FlrNombre" class="form-control form-control-sm  w-100" type="search" placeholder="Buscar"
                       aria-label="Search">
                <button style="background-color:transparent;border-color:transparent;padding:1px">  <i style="color:dodgerblue" class="fa fa-search"></i></button>
                <div onclick="LimpiarNombre()" class="btn" style="background-color:transparent;border-color:transparent;padding:1px">  <i style="color:orangered" class="fa fa-ban" aria-hidden="true"></i></div>

            </div>
        </form>
    </div>
</div>-->

<div class="card m-2">
    <div class="card-header">
        <div class="row d-flex justify-content-between p-2">
            <div>
                <a class="btn btn-sm btn-primary" asp-action="Create">NOVO PRODUTO</a>
            </div>
            <div>
                <form id="formSearchCategoria">
                    <div class="d-flex align-items-center">
                        <input id="nombre" name="nombre" value="@ViewBag.FlrNombre" class="form-control form-control-sm  w-100" type="text" placeholder="Buscar"
                               aria-label="Search">
                        <button class="btn btn-sm btn-outline-primary"><i class="fa fa-search"></i></button>
                        <div onclick="LimpiarNombre()" class="btn btn-sm btn-outline-danger cursor-pointer"><i class="fa fa-ban" aria-hidden="true"></i></div>

                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="card-body">
        <div class="row">
            @foreach (var item in Model.Productos)
            {
                var modalId = $"modal{item.id}";
                var imgDataURL = string.Empty;
                if (item.imagen != null)
                {
                    string imreBase64Data = Convert.ToBase64String(item.imagen);
                    imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                }

                bool tieneTemanhos = item.valorTamanho1.HasValue || item.valorTamanho2.HasValue || item.valorTamanho3.HasValue|| item.valorTamanho4.HasValue|| item.valorTamanho5.HasValue ? true : false;

                <div class="col-12 col-md-6 col-xl-4 mb-2">
                    <div class="card">
                        <div class="card-header bg-primary p-2">
                            <div class="row d-flex align-content-center pl-3">

                                <div>
                                    @if (item.imagen != null && item.imagen.Length > 0)
                                    {
                                        <img class="rounded-circle border border-primary producto-image-50px" src="@imgDataURL" data-toggle="modal" data-target="#@modalId" />
                                    }
                                </div>
                                <div class="text-center d-flex align-content-center">
                                    <b class="ml-2" style="align-items: center; display: flex; color:white">@item.nombre.ToUpper()</b>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">

                            <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="1#@modalId" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content" style="background-color: transparent;border: none;">

                                        <div class="modal-body">
                                            <img style="max-height:500px;max-width:500px;object-fit:cover;border-radius:5px" src="@imgDataURL" data-toggle="modal" data-target="#exampleModalCenter" />

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <table>
                                    @if (tieneTemanhos)
                                    {
                                        <tr>
                                            <td colspan="2">
                                                <div class="d-flex row m-1">
                                                    @if (item.valorTamanho1.HasValue)
                                                    {<div class="btn btn-sm btn-secondary text-nowrap  m-1 d-flex">@item.tamanho1 <div class="ml-1" style="color:chartreuse">R$ @item.valorTamanho1.Value.ToString("F2")</div> </div>}

                                                    @if (item.valorTamanho2.HasValue)
                                                    {<div class="btn btn-sm btn-secondary  text-nowrap m-1 d-flex">@item.tamanho2 <div class="ml-1" style="color:chartreuse">R$ @item.valorTamanho2.Value.ToString("F2")</div> </div>}

                                                    @if (item.valorTamanho3.HasValue)
                                                    {<div class="btn btn-sm btn-secondary text-nowrap  m-1 d-flex">@item.tamanho3 <div class="ml-1" style="color:chartreuse">R$ @item.valorTamanho3.Value.ToString("F2")</div> </div>}

                                                    @if (item.valorTamanho4.HasValue)
                                                    {<div class="btn btn-sm btn-secondary  text-nowrap m-1 d-flex">@item.tamanho4 <div class="ml-1" style="color:chartreuse">R$ @item.valorTamanho4.Value.ToString("F2")</div> </div>}

                                                    @if (item.valorTamanho5.HasValue)
                                                    {<div class="btn btn-sm btn-secondary  text-nowrap m-1 d-flex">@item.tamanho5 <div class="ml-1" style="color:chartreuse">R$ @item.valorTamanho5.Value.ToString("F2")</div> </div>}

                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td><b>Preço</b></td>
                                            <td>: <b style="color:green">R$ @item.valor.ToString("F2")</b> </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td><b>Categoría</b></td>
                                        <td>: @item.Categoria</td>
                                    </tr>
                                    @if (!string.IsNullOrEmpty(item.tempo))
                                    {
                                        <tr>
                                            <td><b>Tempo</b></td>
                                            <td>:   <i class="fa fa-clock" style="color:gray"></i> @item.tempo</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            @if (!string.IsNullOrEmpty(item.descripcion))
                            {
                                <div class="row">
                                    <p>
                                        <b>descrição:</b> @item.descripcion
                                    </p>
                                </div>
                            }
                        </div>

                        <div class="card-footer text-muted p-2" style="color: black;">
                            <div class="d-flex justify-content-between">

                                <div>
                                    <div class="d-flex justify-content-end p-2">
                                        <div class="m-1">
                                            <a asp-action="Ingredientes" asp-route-id="@item.id" class="cursor-pointer"><img width="25" style="margin-right:5px" src="~/img/ingredientes.png" /></a>
                                        </div>
                                         <div class="m-1">
                                            <a asp-action="Adicionales" asp-route-id="@item.id" class="cursor-pointer"><img width="25" style="margin-right:5px" src="~/img/adicionales.png" /></a>
                                        </div>

                                    </div>
                                </div>

                                <div>
                                    <div class="d-flex justify-content-end p-2">
                                        <div class="m-1">
                                            <a class="btn btn-sm btn-success" style="color:white" asp-action="Edit" asp-route-pagina="@Model.PaginaActual" asp-route-id="@item.id">
                                                <i style="color:white" class="fa fa-edit" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                        <div class="m-1">
                                            <a class="btn btn-sm btn-danger" style="color:white" asp-action="Delete" asp-route-pagina="@Model.PaginaActual" asp-route-id="@item.id">
                                                <i style="color:white" class="fa fa-trash" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>



<div class="d-flex justify-content-end">
    @{ Html.RenderPartial("_Paginador");}
</div>

@section Scripts{
    <script type="text/javascript">

        function LimpiarNombre() {
            $('#nombre').val('');
            $('#formSearchCategoria').submit();
        }

        $(document).ready(function () {

            $('#txtChild1').on('change', function () {
                $("#C1Age1").show();
            });

        });
    </script>
}

@*<table class="table table-striped">
        <tbody>


            @foreach (var item in Model.Productos)
            {
                var modalId = $"modal{item.id}";
                var imgDataURL = string.Empty;
                if (item.imagen != null)
                {
                    string imreBase64Data = Convert.ToBase64String(item.imagen);
                    imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data);
                }
                <tr>
                    <td>
                        <div>
                            @if (item.imagen != null && item.imagen.Length > 0)
                            {
                                <img style="max-height:100px;max-width:100px;object-fit:cover;border-radius:5px" src="@imgDataURL" data-toggle="modal" data-target="#@modalId" />
                            }


                            <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="1#@modalId" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content" style="background-color: transparent;border: none;">

                                        <div class="modal-body">
                                            <img style="max-height:500px;max-width:500px;object-fit:cover;border-radius:5px" src="@imgDataURL" data-toggle="modal" data-target="#exampleModalCenter" />

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </td>
                    <td>
                        <div class="row col-12">
                            <div class="col-10">
                                <div>@item.nombre</div>
                                <div>@item.Categoria</div>
                            </div>
                            <div class="col-2 align-items-end">
                                <div class="d-block justify-content-end p-0">

                                    <div style="font-size: 15px;font-weight: 500;color: #C09C0A;">
                                        <div style="text-align:end">R$ @item.valor</div>
                                    </div>

                                    @if (item.horasPreparacion.HasValue || item.minutosPreparacion.HasValue)
                                    {

                                        <div style="font-size: 15px;font-weight: 500;color:gray;">
                                            <div style="text-align:end"> <i style="color:gray;font-size:12px" class="fa fa-clock" aria-hidden="true"></i> @item.horasPreparacion:@item.minutosPreparacion:00 </div>
                                        </div>
                                    }

                                </div>
                            </div>
                            <div class="col-12">
                                <samp>@item.descripcion</samp>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center p-2">

                            <a asp-action="Ingredientes" asp-route-id="@item.id" class="cursor-pointer"><img width="25" style="margin-right:5px" src="~/img/ingredientes.png" /></a>

                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-end p-2">
                            <div class="m-1">
                                <a class="btn btn-sm btn-success" style="color:white" asp-action="Edit" asp-route-pagina="@Model.PaginaActual" asp-route-id="@item.id">
                                    <i style="color:white" class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="m-1">
                                <a class="btn btn-sm btn-danger" style="color:white" asp-action="Delete" asp-route-pagina="@Model.PaginaActual" asp-route-id="@item.id">
                                    <i style="color:white" class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>*@