@model IEnumerable<Pedidos.Models.DTO.ListarSaboresPorProducto>
<div class="card">
    <div class="card-header">
        <div class="row d-flex justify-content-between p-2">
            <div>
                <b>SABORES</b>
            </div>
            <a class="btn btn-sm btn-success" style="color:white" asp-action="Create">Novo Produto</a>
        </div>

    </div>
    <div class="card-body">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Sabor
                    </th>
                    <th>
                        Valor
                    </th>
                    <th>

                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="w-100">
                            @Html.DisplayFor(modelItem => item.sabor)
                        </td>
                        <td class="w-100">
                            @if (@item.valor.HasValue)
                            {
                                <div class="text-nowrap">  R$ @item.valor.Value.ToString("F2")</div>
                            }
                        </td>
                        <td>
                            <div class="d-flex">
                                <input name="switchbuttonSelected" type="checkbox" asp-for="@item.selected" id="@($"{item.idSabor}_{item.idProducto}")" data-width="100" data-onlabel="Visível" data-offlabel="Escondido" data-toggle="switchbutton" data-offstyle="danger" data-size="xs">
                                <div id="@($"loading{item.idSabor}_{item.idProducto}")" class="hide-loading spinner-border text-info ml-2" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/views/productos/sabores.js"></script>