@model Pedidos.ViewModels.VMCategorias

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@{ Html.RenderPartial("_Paginador");}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categorias.First().nombre)
            </th>         
            <th>
                @Html.DisplayNameFor(model => model.Categorias.First().activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categorias) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>          
            <td>
                @Html.DisplayFor(modelItem => item.activo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |              
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
