@model Pedidos.ViewModels.VMCategorias

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-center align-items-center w-100">
    <div style="background-color:lightgray;width:100%;height:1px"></div>
    <div style="margin:5px"> Categorias</div>
    <div style="background-color:lightgray;width:100%;height:1px"></div>
</div>

<div class="d-flex justify-content-between">
    <div class="btn btn-sm btn-primary"><a style="color:white" asp-action="Create">Nova Categoria</a></div>
    <div>
        <!-- Search form -->
        <!-- Search form -->
        <form class="form-inline">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                   aria-label="Search">
        </form>
    </div>
</div>

<i class="fas fa-user"></i> <!-- uses solid style -->
<i class="far fa-user"></i> <!-- uses regular style -->
<i class="fal fa-user"></i> <!-- uses light style -->

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categorias.First().nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorias.First().activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Categorias)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.activo)
                </td>
                <td>
                    <div style="margin-top:5px">
                        <div class="btn btn-sm btn-success"><a style="color:white" asp-action="Edit" asp-route-pagina="@Model.PaginaActual" asp-route-id="@item.id">Editar</a></div>  |
                        <div class="btn btn-sm btn-danger"><a style="color:white" asp-action="Delete" asp-route-pagina="@Model.PaginaActual" asp-route-id="@item.id">Deletar</a></div>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>

<div class="d-flex justify-content-end">
    @{ Html.RenderPartial("_Paginador");}
</div>