@model Pedidos.ViewModels.VMAplicativos
@{
    ViewData["Title"] = "Index";}

<div class="card m-2">
    <div class="card-header">
        <div class="row d-flex justify-content-between p-2">
            <div>
                <b>APLICATIVOS</b>
            </div>
            <div>
                <a class="btn btn-sm btn-primary" asp-action="Create">Novo</a>
            </div>
        </div>

    </div>
    <div class="card-body">

        <table class="table">
            <thead>
                <tr>
                    <th class="col-8">
                        @Html.DisplayNameFor(model => model.Aplicativos.First().nombre)
                    </th>
                    <th class="col-4">

                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Aplicativos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                        </td>
                        <td>
                            <div>
                                <div class="d-flex justify-content-end p-2">
                                    <div class="m-1">
                                        <a class="btn btn-sm btn-success" style="color:white" asp-action="Edit" asp-route-pagina="@Model.PaginaActual" asp-route-id="@item.id">
                                            <i style="color:white" class="fa fa-edit" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="m-1">
                                        <a class="btn btn-sm btn-danger" style="color:white" asp-action="Delete" asp-route-pagina="@Model.PaginaActual" asp-route-id="@item.id">
                                            <i style="color:white" class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<div class="d-flex justify-content-end">
    @{ Html.RenderPartial("_Paginador");}
</div>

@section Scripts{
    <script type="text/javascript">

        function LimpiarNombre() {
            $('#nombre').val('');
            $('#formSearchAplicativo').submit();
        }

        $(document).ready(function () {



            $('#txtChild1').on('change', function () {
                $("#C1Age1").show();
            });

        });
    </script>
}
